@font-face {
  font-family: "Norse-Bold";
  src: "./resources/Norse-Bold.otf" format('otf');
}

* {
  /* border: 1px solid red; */
}

body {
  margin: 0px 0px 0px 0px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

#page-container {
  display: flex;
  margin: 0px;
}

#left {
  flex: 1.1;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  background: rgba(0, 0, 0, 0.4);
}

#logo img {
  width: 80px;
}

#logo h1 {
  color: white;
  font-family: "Norse-Bold";
  font-size: 5em;
  text-align: center;
  line-height: 12vh;  
  padding-top: 10px;
}

#right {
  display: flex;
  flex-direction: column;
  flex: 2;
}

#hero, #form-container, #footer {
  flex: 1;
  padding: 2em;
}

#hero {
  background-color: #f6f6f6;
}

#form-container {
}

#signup-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-weight: normal; */
  font-size: 0.5em;
}

#signup-form div {
  display: flex;
  column-gap: 5em;
}

#signup-form div div {
  display: flex;
  flex-direction: column;
}

#signup-form input {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer {
  background-color: #f6f6f6;
}

#footer input {
  color: white;
  font-weight: bold;
  width: 150px;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 5px;
  background-color: #596d48;
  padding: 0.75em;
  transition: all .2s ease-in-out;
}

#footer input:hover {
  transform: scale(1.05);
}

#footer a {
  color: #596d48;
  text-decoration: none;
}